a {
  color: inherit;
  text-decoration: none;
}

.post-item {
  border: 3px solid #858585;
  border-radius: 20px;
  width: 40rem;
  height: 25rem;
  padding: 1rem;
}

.post-title {
  font-size: 3rem;
}

.post-description {
  text-align: justify;
}

.post-subcontainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: gray
}

.post-readmore {
  text-align: center;
}
