<div class="aboutme-container">
  <h1 class="title">About me</h1>
  <div class="top-container">
    <img class="photo" src="/assets/aboutme/photo.jpg" alt="My photo" />
    <div class="aboutme-paragraphs">
      <p>
        Greetings! My name is Alejandro Lopez. I lived in Lima, Peru for most of
        my life and graduated from Dartmouth College. I am a US resident now and
        I am starting my career as a Software Engineer.
      </p>
      <p>
        One of the accomplishments I am most proud of is being a member of the
        Digital Applied Learning and Innovation Lab (DALI) during my 4 years at
        Dartmouth. I was able to meet wonderful people and work on lots of
        meaningful projects (some of which have articles on this blog).
      </p>
      <p>
        My personal interests include learning new dev tools by building
        projects, UI/UX design on Figma, and improving my efficiency at doing
        all kinds of tasks (e.g. I am a fan of Pomodoro timers). Some of my
        hobbies are cooking (Peruvian dishes mostly), playing videogames,
        archery, and boxing.
      </p>
      <p>
        Check my resume
        <a href="/assets/aboutme/resume.pdf" target="_blank">here</a>
      </p>
    </div>
  </div>
  <div>
    <div class="field-title">
      <img src="/assets/aboutme/book.svg" alt="book icon" />
      <h1>Education</h1>
    </div>
    <div class="field-content">
      <h3>Dartmouth College (2019 - 2023)</h3>
      <p>Computer Science Major, Digital Arts Minor</p>
    </div>
  </div>
  <div>
    <div class="field-title">
      <img src="/assets/aboutme/code.svg" alt="book icon" />
      <h1>Skills</h1>
    </div>
    <div class="field-content ulist">
      <ul>
        <li>
          <span class="subtitle">Programming Languages: </span>JavaScript,
          TypeScript, Python, C#, Java
        </li>
        <li>
          <span class="subtitle">Frontend: </span>React, React Native, Angular,
          NextJS, HTML, CSS, Tailwind
        </li>
        <li>
          <span class="subtitle">Backend: </span>NodeJS, NestJS, ExpressJS
        </li>
        <li><span class="subtitle">Databases: </span>MongoDB, SQL</li>
        <li>
          <span class="subtitle">Other tools: </span>Git, Redux, Figma, Unity,
          Maya
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="field-title">
      <img src="/assets/aboutme/award.svg" alt="book icon" />
      <h1>Awards and Certifications</h1>
    </div>
    <div class="field-content ulist">
      <ul>
        <li>AWS Certified Cloud Practitioner (Sep 2023)</li>
        <li>7th Place at 2017 Microsoft Office Specialist Competition Peru</li>
        <li>
          Winners of the 2017 Nueva Acropolis Music Competition in the category
          of Guitar Ensemble
        </li>
        <li>Best Teamwork Award, ADECOPA Mathematics Championship 2015</li>
      </ul>
    </div>
  </div>
  <div>
    <div class="field-title">
      <img src="/assets/aboutme/gift.svg" alt="book icon" />
      <h1>Volunteer Work</h1>
    </div>
    <div class="field-content">
      <h3>UTK: United Technologies for Kids (2018 - 2019)</h3>
      <p>
        Participated as a volunteer in the "Virgen del Rosario" school in the
        classes about Arduino robotics and Freecad 3D design. The classes were
        thought by Peruvian college students, and my role was to assist our
        students in their projects and help coordinate the classes.
      </p>
    </div>
  </div>
</div>
