.posts-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.post-subcontainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.post-item {
    border: 3px solid #858585;
    border-radius: 20px;
    width: 40rem;
    height: 25rem;
    padding: 1rem;
}

.post-title {
    font-size: 3rem;
    text-align: justify;
}

.post-description {
    text-align: justify;
}