.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
}

.post-tag {
    text-align: center;
    margin-bottom: 0;
    color: gray;
}

.post-title {
    text-align: center;
}

.post-author {
    margin: 2rem 12rem;
    color: gray;
    text-align: center;
}

.post-content {
    margin: 0rem 12rem;
}

.post-content-item {
    display: flex;
    justify-content: center;
    margin: 4rem 0rem;
}

.post-paragraph {
    text-align: justify;
    font-size: large;
}

.post-image {
    width: 50rem;
    height: auto;
}