.back-button {
  margin: 4rem;
  text-decoration: none;
  cursor: pointer;
  font-size: larger;
}

.post-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2rem;
  margin: 2rem;
}

.post-tag {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  color: gray;
}

.post-title {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
}

.post-author {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 2rem 12rem;
  color: gray;
  text-align: center;
}

.post-content {
  margin: 0rem 16rem;
}

.post-content-item {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem;
}

.post-content-item.subtitle {
    justify-content:left;
    text-align: left;
}

.post-paragraph {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: justify;
  font-size: large;
}

.post-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: x-large;
}

.post-image {
  display: flex;
  max-width: 60rem;
  height: auto;
}

@media screen and (max-width: 800px) {
  .post-content {
    margin: 0rem 2rem;
  }
  .post-image {
    max-width: 40rem;
    height: auto;
  }
}
