/* You can add global styles to this file, and also import other style files */

body {
    background-color: #F5F5F5;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dark-theme {
    background-color: black;
    color: white;
}